/*
Main styling
*/

main{
    width: 70%;
    background: #fff;
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

form{
    width: 50%;
    padding-top: 10px;
}

form input, form textarea{
    width: 90%;
    border: none;
    background: #d9d9d9;
    outline: none;
    text-decoration: none;
    padding: 10px;
    resize: none;
    margin: 3px;
    transition: .3s;
}

form input[type="submit"]{
    width: 30%;
    margin-bottom: 10px;
    color:#fff;
    background: #1D2B34;
    transition: .3s;
}

form input[type="submit"]:hover{
    background: linear-gradient(to right,#1D2B34 50%, #000 50%);
}

form input:hover, form textarea:hover, form input[type="submit"]:hover, section p:hover, section table tr:hover{
    transform: scale(1.025);
}
form input:focus, form textarea:focus{
    border: 1px solid #1D2B34;
}

section{
    width: 50%;
}

section table{
    margin-top: 10px;
}

section table tr td img{
    height: 30px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section table tr{
    transition: .3s;
}

section table tr td{
    font-size: 20px;
}


section p:nth-child(odd){
    color: #000;
}

section p:nth-child(even){
    color: #666;
    margin-bottom: 10px;
}
section p img{
    height: 15px;
    margin-right: 5px;
}

section p code{
    background: #888;
    color: #fff;
    padding: 0px 10px;
}

section p{
    transition: .3s;
}

section h4 span{
    color: #ff0000;
}

/*
Media Queries
*/
@media only screen and (max-width: 700px) {
    body{
        width: 100%;
    }
    header .container article, header .container .wrapper{
        width: 100%;
    }

    header nav #menu{
        display: none;
    }
    header nav #menuButton button{
        display: block;
    }

    header h1{
        font-size: 40px;
    }

    main{
        width: 90%;
    }

    section, form{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    form input, form textarea, form input[type="submit"]{ 
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    form input[type="submit"]{
        width: 50%;
    }

    html{
        font-size: 90%;
    }
}

@media only screen and (max-width: 450px) {
    header .container article, header .container .wrapper{
        width: 100%;
    }

    header nav #menu2wrapper{
        width: 100%;
    }

    header h1{
        font-size: 30px;
    }

    form input[type="submit"]{
        width: 100%;
    }

    footer section #items ul{
        width: 100%;
        margin: 0px;
        padding: 1rem;
    }

    footer section aside{
        padding-left: 30px;
        width: 100%;
    }

    footer section #items{
        flex-wrap: wrap;
        width: 100%;
    }

    footer #copyright{
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
    }

    header nav #menuButton button img, header nav #menuButton button{
        width: 30px;
        height: 30px;
    }
    
}